.container{
    width:1500px;
        nav{
            display: block;
            ul{
                li{
                    a{
                        color: red;
                    }
                }
            }
        }
}